div {
    max-width: 900px;
    text-align: center;
}
#pageOne {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
#pageOne.fade {
    opacity: 0;
}
#pageOne.faded {
    display: none;
}
#pageTwo {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#pageTwo.fade {
    opacity: 1;
}